img {
    border-radius: 20px;
    box-shadow: 1px 10px 20px #222222;
    /*max-width: 90%;
    max-height: auto;*/
}

img[alt='Koha out of the box'] {
    box-shadow: unset;
    /*max-width: 50%;
    max-height: 50%;*/
}


h1.app-name {
    box-shadow: unset;
    max-width: 50%;
    max-height: 50%;
    
}

article#main.markdown-section > * {
    max-width: 85%;
    max-height: auto;
    
}
