
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
    --primary: lightgreen;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Urbanist', sans-serif;
    background-color: var(--primary);

}

body {
    margin: 5% 5%;
}

.title {
    text-align: center;
    background: linear-gradient(to right, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


